<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <div class="container my-4">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-secondary rounded shadow-sm p-3"
      >
        <div class="container-fluid">
          <span id="fullname" class="navbar-brand text-white fs-4"
            >Welcome, {{ fullname }}</span
          >
          <a href="/upload" class="btn btn-success">Add File</a>
        </div>
      </nav>

      {% if projects and projects|length > 0 %}
      <div class="row mt-4 g-3">
        {% for project in projects %}
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow-sm h-100">
            <div class="card-body">
              <h5 class="card-title text-dark">{{project.project_name}}</h5>
              <p class="card-text text-muted">
                {{project.project_description}}
              </p>
              <div class="d-flex gap-2">
                <button
                  class="btn btn-outline-primary flex-grow-1"
                  onclick="window.location.href='{{ project.link }}'"
                >
                  View Project
                </button>
                <button class="btn btn-outline-danger flex-grow-0" style="flex-basis: 20%;">
                  Delete
                </button>
              </div>
              
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="text-center my-5">
        <h1 class="text-dark">User Dashboard</h1>
        <p class="text-muted">
          Welcome to your dashboard. Click the "Upload File" button above to
          upload your files.
        </p>
      </div>
      {% endif %}
    </div>
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
